# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\创业\work\kl-mall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
